* {
  margin: 0;
  padding: 0;
}

  #timer{
    color: #fff;
    font-size: 8rem;
    font-weight: bolder;
  }

  .main{
    width: 90%;
    margin: 0 auto;
    max-width: 480px;
    border-radius: 5px;
    padding: 30px 0 30px;
    background-color: #ffffff15;
  }


li {
    cursor: pointer;
    padding: 5px 10px;
    list-style: none;
}

li.active {
    border-radius: 5px;
    font-weight: bolder;
    background-color: #00000025;
}